extends layouts/login-main-layout
block content
  .login-container
    .login-header-container
      span Log in
    .login-form-container  
      form.login-form(method="POST")
        input(type="text", placeholder="Enter your username", required="")
        input(type="password", placeholder="Enter your password", required="")
        input.login-button(type="submit")
      a(href="/register") Need an account? Register